#root,
.App {
  width: 100%;
  height: 100%;
}

.AppHeader {
  height: 60px;
}

.AppFooter {
  display: none;
  height: 100px;
}

.AppContent {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
}

.AppContent__Left {
  padding: 20px;
  width: 22%;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

.AppContent__Middle {
  padding: 20px;
  width: 56%;
}

.AppContent__Middle svg:not(:root) {
  overflow: visible !important;
}

.AppContent__Middle > div {
  overflow: hidden;
}

.AppContent__Right {
  padding: 20px;
  width: 25%;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

